@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #a2ff8f;
  height: 100vh;
}
h1{
  text-align: center;
  color: #24c7e1;

}

.bottle{
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.flex{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;

  height: 30px;
  width: 30px;
  border: none;
  border-radius: 20px;
}
.arrow__button {
  background-color: transparent;
  height: 12px;
  width: 12px;
}

.arrow__button--LEFT {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateX(25%) rotate(45deg);
}

.arrow__button--RIGHT {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateX(-25%) rotate(45deg);
}

.addButton{
  display: block;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.removeButton{
  display: block;
  margin: 5px auto;
  border: none;
  font-size: 14px;
  padding: 0px;
  background: none;
  text-decoration:underline;
  cursor: pointer;

}