@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #a2ff8f;
  height: 100vh;
}
h1 {
  text-align: center;
  color: #035956;
}

.bottle {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;

  height: 30px;
  width: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.arrow__button {
  background-color: transparent;
  height: 12px;
  width: 12px;
}

.arrow__button--LEFT {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateX(25%) rotate(45deg);
}

.arrow__button--RIGHT {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateX(-25%) rotate(45deg);
}

.addButton {
  display: block;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.removeButton {
  display: block;
  margin: 5px auto;
  border: none;
  font-size: 14px;
  padding: 0px;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
.counter {
  font-family: "Righteous", cursive;
  position: absolute;
  display: block;
  width: 120px;
  height: 76px;
  top: 210px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  text-align: center;
  color: #035956;
}

.dateBox{
  margin-top: 3px;
  text-align: center;
}
.dateChecker{
  text-align: center;
  font-size: 10px;
}